/* M-P-B-F Completo única fonte */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: DejaVu Sans Mono, monospace	;
}

/* Seção Do Corpo */

section{
position: relative;
width: 100%;
min-height: 100vh;
padding: 100px; 
background-color: black;
display: flex;
align-items: center;
justify-content: space-between;
overflow: hidden;
}

.Circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: Radial-gradient(circle,Violet,Aqua,Olive,Blue);
    clip-path: circle(48% at Bottom right);
}


header{
position: absolute;
top: 0;
left: 0;
width: 100%;
padding: 15px 100px;
display: flex;
align-items: center;
justify-content: space-between;
}

header .Logo{
position: relative;
max-width: 120px;
justify-content: space-between;
}
header .Navegation ul{
    position:relative;
    display: flex;
}

header .Navegation li{
    list-style: none;

}
header .Navegation li a{
    color: rgb(255, 255, 255);
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    margin-left: 100px;
}
      .Container{
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

      }
.Container .Text{
    position: relative;
    max-width: 600px;   
    margin-right: 20px;

}
.Container .Text h2{
color: white;
margin-bottom: 10px;
line-height: 2.2em;
font-weight: 100;
}
.Container .Text h2 span{
    font-size: 2.5em;
    color: white;


}
.Container .Text a{
    display: inline-block;
    margin-top: 50px;
    padding: 10px 25px;
background: rgb(35, 31, 253);
    color: rgb(255, 255, 255);
    font-size: 500;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 40px;
    transition: 0.3s ease-in-out;
}
.Container .Text a:hover{
    transform: translateY(-10px);
}
.BoxImg{
    position: absolute;
    left: 650px;
    top:70px;
    transition: 0.3s ease-in-out;
  
}
.BoxImg Img{
    width: 800px;
    transition: 0.3s ease-in-out;
     }
   